*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

.margem-div-info {
  margin: 0% 2%;
}

.borda-personalizada {
  border: 1px solid var(--cor-primaria);
  background-color: var(--cor-primaria);
}

.borda-botao {
    width: 3em;
    height: 3em;
    background-color: var(--cor-primaria);
    border-radius: 50%;
    color: var(--cor-destaque);
}

.reseta-botao {
  border: none;
  background-color: #00000000;
  height: 100%;
  color: var(--cor-texto);
}

.video {
  width: 50%;
  height: 46vh;
}

.rodape {
    position: fixed;
    top: 90%;
    left: 50%;
}